build-*/
build/*.exe
build/MRQ_Update/*.exe
build/NetFramework/*.exe
build/output/*
installer/
unittest/
log/
*.o
*.qm
debug/
*.lib
lib/*.a
#*.a
#*.dll
build/3rdlib
build/qlibd
build/qlibr
Makefile
Makefile.*
prj/ui_*.h
prj/*.rc
.vs/
*.user
*.qmake.*
*.pyc
*.eww
*.wsdt
*.wspos
*.dep
*.ewd
*.ewp
*.ewt
*.icf
*.rar
*.eww
*.filters
settings/
Debug/
Release/
source/arith/pvt/GelgoogProject/RTOS/
#source/arith/pvt/GelgoogProject/BSP/
#source/arith/pvt/GelgoogProject/APP/
#doc/

_icon/
_icon2/
_icon3/
_board/
*.Debug
*.Release
moc_*
*.config
*.csproj
*.sln
source/arith/delta/arith/_AddPointParam*
source/arith/delta/arith/_function*
source/misa/c#/test/bin
source/misa/c#/test/obj
source/misa/c#/test/Properties

source/bus/obj/moc_*.h
source/bus/obj/moc_*.cpp
source/inst/obj/moc_?*.h
source/inst/obj/moc_?*.cpp

build/MRQ_Update/12345.upd
build/MRQ_Update/123456.upd
source/plugin/h2/ui_h2info.h
source/plugin/h2/ui_h2ops.h
source/plugin/h2/ui_h2status.h
source/plugin/t4/dataset/template_raw1.cpp
source/plugin/t4/ui_actiontable.h
source/plugin/t4/ui_advpara.h
source/plugin/t4/ui_axislimit.h
source/plugin/t4/ui_config.h
source/plugin/t4/ui_controllerstatus.h
source/plugin/t4/ui_coordinate.h
source/plugin/t4/ui_coordpara.h
source/plugin/t4/ui_dlgio.h
source/plugin/t4/ui_errormgrtable.h
source/plugin/t4/ui_fileexplorer.h
source/plugin/t4/ui_info.h
source/plugin/t4/ui_ioindicator.h
source/plugin/t4/ui_iostate.h
source/plugin/t4/ui_iowidget.h
source/plugin/t4/ui_joint.h
source/plugin/t4/ui_motorconfig.h
source/plugin/t4/ui_motorcurrent.h
source/plugin/t4/ui_quadwiget.h
source/plugin/t4/ui_scripteditor.h
source/plugin/t4/ui_t4oppanel.h
source/plugin/t4/ui_traceplot.h
source/plugin/t4/ui_maintain.h
source/plugin/t4/ui_widget.h
